<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {name: 'password Reset'}); %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <%- include('partials/nav', {home:false}); %>
            <!-- Download Section -->
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <section id="forum" class="content-section text-center">
                <p>password reset to: <%= name %>IsAwsome</p>   
            </section>

            <%- include('partials/footer'); %>
</body>

</html>