<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h2>About Iron-Fists</h2>
    <p>Iron-Fists is a UK based clan that takes a semi-professional approach to operations.
       We like a challenge, often playing way out-numbered and out-gunned. We use ACE3, 3CB, RHS, CUP Maps and TFAR.
        We run three members nights a week and two public servers.</p>
     <hr />
     <h3>Weekly Member Events</h3>
     <p>All events start at <b>9pm UK</b> Time we ask you try and be present at <b>8:30</b>.
     </p>
     <ul class="list-group">
    <li class="list-group-item"><b>Tuesday: Free Night</b> - Vote on the forums for what you want to do.</li>
    <li class="list-group-item"><b>Thursday: Training Night</b> - Learn new skills and practice them. Usually ending in a Zeus mission.</li>
    <li class="list-group-item"><b>Sunday: Mission Night</b> - Take on a serious mission</li>
  </ul>
  <hr />
     <h3>Leadership Structure</h3>
     <p>
    We run a three man command for day to day running:
    <br>
    <b>INF_H@wKEYE</b> - Squad CO<br>
    <b>INF_Rhys</b> - 2IC<br>
    <b>INF_Mearcat</b> - 3IC<br>
    All Major Decisions are put to a squad vote. <br>

    All members are listened to rank is only used for tie breakers and mission command structure.
    </p>
    <hr />
    <h3>Advancement</h3>
    <p>
      Promotions are given for dedication and squad work. Awards are given for completing training courses and actions.
    </p>
    <hr />
    <h3>Requirements</h3>
    <p>We ask that you are:<br>
      <ul class="list-group">
    <li class="list-group-item"><b>17 or older</li>
    <li class="list-group-item"><b>Able to speak and write in English.</b></li>
    <li class="list-group-item"><b>Capable of attend member events.</b></li>
    <li class="list-group-item"><b>Prepared to Keep up-to-date with squad activities.</b></li>
    <li class="list-group-item"><b>Not a member of another Arma Clan.</b></li>
  </ul>
  </p>
  <hr />
  <h3>Questions?</h3>
     <p>Come say hi on <a href="ts3server://81.19.212.66" target="_blank">Team Speak.</a></p>
    <p><b>INF_Mike64</b>- Committee Member</p>
    </div>
</div>