<nav class="navbar navbar-light bg-light">
    <h2>Gear Search</h2>
    <p>Search though our extensive set of gear and weaponry we use to protect your flags</p>
    <form class="form-inline" method="POST" action="search">
      <input class="form-control mr-md-2" type="search" placeholder="Search" name="search" aria-label="Search" style="text-align: center"><br><br>
      <button class='btn btn-default btn-lg' type="submit">Search</button>
    </form>
  </nav>
  