<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h2>Becoming A Member</h2>
        <p>Try as we might, a small paragraph isn't going get you hooked.
           So we recommend joining one of our public servers and have a chat with us over Teamspeak.
            If you like what you have experienced then joining is as easy as.</p>

        <ol class="row entry-steps">
            <li class="col-xsm-12 col-sm-6 col-lg-4 entry-step">
                <div class="entry-step-number">1</div>
                Register on our <a href="http://forums.iron-fists.eu/index.php">Forums</a>.
            </li>
            <li class="col-xsm-12 col-sm-6 col-lg-4 entry-step">
                <div class="entry-step-number">2</div>
                Fill in a <a href="http://forums.iron-fists.eu/app.php/applicationform">Members Form</a>.
                <div class="extra">(no essay required)</div>
            </li>
            <li class="col-xsm-12 col-sm-12 col-lg-4 entry-step">
                <div class="entry-step-number">3</div>
                We will get back to you!
            </li>
        </ol>
    </div>
</div>