<div class="download-section">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1 background-shadow">
            <h2>Members Login</h2>
           <form method="POST" action="/login">
               <label for="user">User</label><br>
               <input id="user" type="text" name="user"><br/>
               <label for="name">Password</label><br>
               <input id="password "type="password" name="password"><br>
               <button class='btn btn-default btn-lg' type="submit">Login</button><br>
               <a href="/forgot">I forgot my password</a>
           </form>
        </div>
    </div>
</div>