<div class="download-section">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1 background-shadow">
            <h2>Members Login</h2>
            <form method="POST" action="/login" >
                <div class="form-group">
                  <label for="user">Username</label>
                  <input type="text" class="form-control" id="user" name="user" aria-describedby="user" placeholder="Enter Username" style="text-align: center">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="text-align: center">
                </div>
                <button class='btn btn-default btn-lg' type="submit">Login</button>
              </form>
        </div>
    </div>
</div>